.table-header{
  vertical-align: top;
  text-align: center;
  color: yellow;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 70px;
  text-shadow: 4px 4px 4px black;
}

.search-bar{
  padding-left: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 80%;
  border-radius: 4px;
}

.button{
  padding-left: 24px;
  border-radius: 4px;
}
